# Data Types and Structures Assignment

Practical questions

### 1. Create a string with your name and print it

In [1]:
name = 'Mridul Sharma'
print(name)

Mridul Sharma

### 2. Find the length of the string "Hello World"

In [ ]:
print(len("Hello World"))

11

### 3. Slice the first 3 characters from the string "Python Programming"

In [ ]:
print("Python Programming"[:3])

Pyt

### 4. Convert the string "hello" to uppercase

In [ ]:
print("hello".upper())

HELLO

### 5. Replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
print("I like apple".replace("apple", "orange"))

I like orange

### 6. Create a list with numbers 1 to 5 and print it

In [2]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

### 7. Append the number 10 to the list [1, 2, 3, 4]

In [3]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### 8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [4]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### 9. Access the second element in the list ['a', 'b', 'c', 'd']

In [5]:
print(['a', 'b', 'c', 'd'][1])

b

### 10. Reverse the list [10, 20, 30, 40, 50]

In [6]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### 11. Create a tuple with the elements 100, 200, 300 and print it

In [7]:
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

### 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [8]:
tpl = ('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

### 13. Find the minimum number in the tuple (10, 20, 5, 15)

In [9]:
print(min((10, 20, 5, 15)))

5

### 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [10]:
print(('dog', 'cat', 'rabbit').index('cat'))

1

### 15. Create a tuple containing three different fruits and check if "kiwi" is in it

In [11]:
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

### 16. Create a set with the elements 'a', 'b', 'c' and print it

In [12]:
print({'a', 'b', 'c'})

{'b', 'a', 'c'}

### 17. Clear all elements from the set {1, 2, 3, 4, 5}

In [13]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

### 18. Remove the element 4 from the set {1, 2, 3, 4}

In [14]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

### 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [15]:
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

### 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [16]:
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

### 21. Create a dictionary with the keys "name", "age", and "city", and print it

In [17]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

### 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [18]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [19]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

### 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [20]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

### 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [21]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

### 26. Create a list, a tuple, and a dictionary, and print them all

In [22]:
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 1, 'b': 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

### 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [ ]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

### 28. Create a list with strings and print the element at the third index

In [23]:
lst = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(lst[3])

date

### 29. Combine two dictionaries into one and print the result

In [24]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30. Convert a list of strings into a set

In [25]:
lst = ['apple', 'banana', 'cherry']
print(set(lst))

{'banana', 'cherry', 'apple'}

### 1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data to enable efficient access and modification. They are important because they help in managing large amounts of data efficiently for operations like searching, sorting, insertion, and deletion.

### 2. Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation (e.g., list, set, dict), whereas immutable data types cannot be changed (e.g., int, float, tuple, string). Example: `list1 = [1, 2]` can be changed, but `tuple1 = (1, 2)` cannot.

### 3. What are the main differences between lists and tuples in Python?

Lists are mutable and can be modified, whereas tuples are immutable. Lists use square brackets [] and tuples use parentheses (). Tuples are generally faster than lists.

### 4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs using a hash table under the hood. Each key is hashed to an index where its corresponding value is stored.

### 5. Why might you use a set instead of a list in Python?

Sets do not allow duplicate values and offer faster membership testing. They are ideal when uniqueness of elements is required.

### 6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters and is immutable. A list is a sequence of elements (of any data type) and is mutable.

### 7. How do tuples ensure data integrity in Python?

Tuples are immutable, which means their data cannot be changed after creation. This makes them suitable for storing fixed data that should not be altered.

### 8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally to store key-value pairs.

### 9. Can lists contain different data types in Python?

Yes, lists can contain elements of different data types such as integers, strings, and even other lists.

### 10. Explain why strings are immutable in Python.

Strings are immutable to ensure that they can be used as keys in dictionaries and for performance and memory optimization.

### 11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries provide faster lookups using keys and are more suitable when data is organized in key-value pairs.

### 12. Describe a scenario where using a tuple would be preferable over a list.

When you want to ensure that the data remains constant, such as storing coordinates (x, y), using tuples is preferable due to immutability.

### 13. How do sets handle duplicate values in Python?

Sets automatically eliminate duplicate values. Adding a duplicate item has no effect.

### 14. How does the “in” keyword work differently for lists and dictionaries?

`in` checks for element presence in lists, but checks for key presence in dictionaries.

### 15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple because tuples are immutable.

### 16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary where values are also dictionaries. Example: `{'student': {'name': 'Alice', 'age': 20}}`. It's useful for hierarchical data.

### 17. Describe the time complexity of accessing elements in a dictionary.

Accessing elements in a dictionary has an average time complexity of O(1) due to hashing.

### 18. In what situations are lists preferred over dictionaries?

Lists are preferred when the data is ordered and index-based access is required.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries (before Python 3.7) were unordered, meaning key-value pairs had no fixed order. In newer versions, they maintain insertion order, but key-based access is still used instead of indexing.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.

Lists retrieve data by index (numeric position), while dictionaries retrieve data by key.